.teamGrid {
	container-type: inline-size;
}
.sq-radio {
	display: flex;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default radio button */
.sq-radio input {
	position: absolute;
	height: 100%;
	opacity: 0;
	cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	width: var(--s1);
	height: var(--s1);
	border-radius: 1px;
	outline: 1px solid var(--grey-6);
}

/* On mouse-over, add a grey background color */
.sq-radio:hover input ~ .checkmark {
	background-color: #var(--focus-white);
}

/* When the radio button is checked, add a blue background
	.sq-radio input:checked ~ .checkmark {
	  background-color: #241d25;
	}
	*/
/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
	content: '';
	position: absolute;
	display: none;
}

/* Show the indicator (dot/circle) when checked */
.sq-radio input:checked ~ .checkmark:after {
	display: block;
}

/* Style the indicator (dot/circle) */
.sq-radio .checkmark:after {
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: var(--s-1);
	height: var(--s-1);
	border-radius: 0.2px;

	background-color: var(--focus-yellow);
}
