@tailwind base;
@tailwind components;
@tailwind utilities;

@import './tokens';
@import './reset';
@import './forms';

// Global CSS starts

body {
	line-height: 1.5;
	padding-bottom: get-size('600');
	font-family: 'Inter', sans-serif;

	min-height: 100vh;
	position: relative;
}

h1,
h2,
h3 {
	line-height: 1;
}

h1 {
	font-size: var(--s5);
}
@media (min-width: 640px) {
	h1 {
		font-size: var(--s5);
	}
}
@media (min-width: 1024px) {
	h1 {
		font-size: var(--s6);
	}
}

h2 {
	font-size: var(--s3);
}
@media (min-width: 640px) {
	h2 {
		font-size: var(--s4);
	}
}
@media (min-width: 1024px) {
	h2 {
		font-size: var(--s5);
	}
}

h3 {
	font-size: var(--s1);
	font-weight: 700;
}

:focus {
	outline: 2px solid var(--focus-yellow);
	outline-offset: 0.15em;
}

.container {
	max-width: 1440px;
	margin-inline: auto;
	padding-inline-start: 1rem;
	padding-inline-end: 1rem;
}

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

main {
	min-height: 100vh;
	margin-bottom: 48px;
}

h1 {
	z-index: 10;
	max-width: 11ch;
	color: var(--focus-white);
	font-weight: 700;
	text-transform: uppercase;
	position: relative;
}

h1 > span {
	color: var(--focus-yellow);
}

h1::after {
	content: '';
	position: absolute;
	z-index: 10;
	margin-left: 0.1em;
	bottom: 0.15em;
	height: 1rem;
	width: 1rem;
	background-color: var(--focus-yellow);
	border-radius: 4px;
}

h2 {
	position: relative;
	padding-bottom: 0.5rem;
	text-transform: uppercase;
	font-weight: 700;
	container-type: inline-size;
}

h2::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 5%;
	height: 0.5em;
	background-color: var(--focus-yellow);
	z-index: -1;
	width: 30cqi;
}

h3 {
	text-transform: uppercase;
}

.margin-bottom {
	margin-bottom: var(--s2);
}

.drawer-enter-active,
.drawer-leave-active {
	transition: 1s ease all;
}
.drawer-enter-from {
	transform: translateX(-100%);
}
.drawer-leave-to {
	transform: translateX(-100%);
}

.formkit-wrapper .formkit-fieldset {
	max-width: 80rem;
}

.main {
	@apply space-y-10 md:space-y-20 lg:space-y-40;
}
