@tailwind base;
@tailwind components;
@tailwind utilities;

@import './tokens';
@import './reset';
@import './forms';

// Global CSS starts

body {
	line-height: 1.5;
	padding-bottom: get-size('600');
	font-family: 'Inter', sans-serif;
	background-color: #fff;
	min-height: 100vh;
	position: relative;
}

h1,
h2,
h3 {
	line-height: 1;
}

h1 {
	font-size: var(--s5);
}

h2 {
	font-size: var(--s3);
}

h3 {
	font-size: var(--s1);
	font-weight: 700;
}

a {
	color: currentColor;
}

table {
	border-collapse: collapse;
}

th {
	text-align: left;
}

:focus {
	outline: 2px solid var(--focus-yellow);
	outline-offset: 0.25em;
}

// * {
// 	box-sizing: border-box;
// 	max-inline-size: 60ch;
// }

// html,
// body,
// div,
// header,
// section,
// nav,
// main,
// article,
// footer {
// 	max-inline-size: none;
// }

ol {
	list-style-type: none;
	padding: 0;
}

.container {
	max-width: 1440px;

	margin-inline: auto;
	padding-inline-start: 1rem;
	padding-inline-end: 1rem;
}

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

main {
	min-height: 100vh;
}

h1 {
	z-index: 10;
	max-width: 11ch;
	color: var(--focus-white);
	font-weight: 700;
	text-transform: uppercase;
	position: relative;
}

h1 > span {
	color: var(--focus-yellow);
}

h1::after {
	content: '';
	position: absolute;
	z-index: 10;
	margin-left: 0.1em;
	bottom: 0.15em;
	height: 1rem;
	width: 1rem;
	background-color: var(--focus-yellow);
	border-radius: 4px;
}

h2 {
	position: relative;
	padding-bottom: 0.5rem;
	text-transform: uppercase;
	font-weight: 700;
	container-type: inline-size;
}

h2::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 5%;
	height: 4px;
	background-color: var(--focus-yellow);
	width: 30cqi;
}

h3 {
	text-transform: uppercase;
}

.margin-bottom {
	margin-bottom: var(--s2);
}

.btn {
	position: relative;
	padding-inline: var(--s-1);
	padding-block: var(--s-4);
	border-radius: 4px;
	text-transform: uppercase;
	font-size: var(--s-1);
	font-weight: 600;
	text-decoration: none;
	z-index: 10;

	&-yellow {
		background-color: var(--focus-yellow);
	}
	&-yellow:hover {
		background-color: var(--focus-yellow-light);
	}

	&-outline {
		color: var(--focus-white);
		outline: var(--focus-white) solid 2px;
		outline-offset: -2px;
	}
	&-outline:hover {
		background-color: var(--focus-white-light);
	}
}

.drawer-enter-active,
.drawer-leave-active {
	transition: 1s ease all;
}
.drawer-enter-from {
	transform: translateX(-100%);
}
.drawer-leave-to {
	transform: translateX(-100%);
}
p {
	max-width: 75ch;
}
// .drawer-enter-active .backprop,
// .drawer-leave-active .backprop {
// 	transition: 1s ease all;
// }

// .drawer-enter-from .backprop {
// 	opacity: 0;
// }
// .drawer-leave-to .backprop {
// 	opacity: 0;
// }
